.head h1 {
  font-family: "roboto" !important;
  text-align: center !important;
  font-weight: 100 !important;
  font-size: 36px !important;
}

.head li a {

  color: white !important;
  padding: 14px 16px !important;
}


.head li a:hover {
  background-color: #111 !important;
}

.head .header ul {
  list-style-type: none !important;

  text-align: center !important;
  background-color: #333 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;

}

.head a {

  text-decoration: none !important;

}


.head li {
  display: inline !important;

}

.button {

  width: 15% !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #7a7a71 !important;
  margin: 10px !important;
  padding: 10px !important;
}

.head {
  padding-top: 10px !important;
}

.main {
  margin-bottom: 100px !important;
  display: inline-block !important;
  padding-top: 90px !important;
}

.body {

  width: 1200px !important;
  margin: 0px auto !important;
}

body {
  margin: 0 !important;
}



.left .img img {

  width: 800px !important;
  height: 220px !important;
}

.right .right_top img {

  width: 360px !important;
  height: 200px !important;
}

.right_center img#itemImg {
  width: 50px !important;
  height: 50px !important;
}

.TTb h2 {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  padding-left: 10px !important;
  font-size: 22px !important;
}

.TTb h4 {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  padding-left: 10px !important;
  font-size: 16px !important;
}

.TTb p {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 17px !important;

}

.TTB a {
  color: #6a6967 !important;

}

.button button {
  border-style: solid !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-left: 10px !important;
  background: none !important;
  border-width: 1px !important;
  border-color: #a2a2a2 !important;
}

.Popular {

  padding-bottom: 1px !important;
  margin-top: 20px !important;
}

.top {
  padding-bottom: 21px !important;
  margin-right: 39px !important;
}


.bottom {

  padding-bottom: 21px !important;
  margin-right: 39px !important;
}

.Popular_in_one ul {
  padding-left: 10px !important;

}


.Popular_in_two ul {

  padding-left: 10px !important;
}

.Popular_in_three ul {

  padding-left: 10px !important;

}

.Popular_in_for ul {

  padding-left: 10px !important;

}

.Popular_in_one {
  margin-bottom: -16px !important;
  border-bottom: 1px solid !important;
  border-color: #dededd !important;

}


.Popular_in_two {
  margin-bottom: -16px !important;
  padding-top: 28px !important;
  border-bottom: 1px solid !important;
  border-color: #dededd !important;
}

.Popular_in_three {

  margin-bottom: -16px !important;
  padding-top: 28px !important;
  border-bottom: 1px solid !important;
  border-color: #dededd !important;
}

.Popular_in_for {


  padding-top: 28px !important;
}
.myname h2 {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  margin-left: 10px !important;
  font-size: 22px !important;
}

.myname p {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 17px !important;
}

.Popular h2 {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  font-size: 22px !important;
  background-color: #dededd !important;
  padding-left: 10px !important;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.Popular p {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  margin-left: 60px !important;
  margin-top: 0px !important;

}

.Popular_in_one h3 {
  font-weight: 400 !important;
  font-size: 18px !important;
  margin-left: 60px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;

}

.Popular_in_two h3 {
  font-weight: 400 !important;
  font-size: 18px !important;
  margin-left: 60px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.Popular_in_three h3 {
  font-weight: 400 !important; 
  font-size: 18px !important;
  margin-left: 60px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.Popular_in_for h3 {
  font-weight: 400 !important;
  font-size: 18px !important;
  margin-left: 60px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.right_bottom h2 {
  font-family: "roboto" !important;
  font-weight: 400 !important;
  font-size: 22px!important;
  background-color: #dededd !important;
  padding-left: 10px !important;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.Tags_list {
  margin-left: 10px !important;
  
}


.Tags_list a {

  background-color: #000 !important;
  color: #fff !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.Tags_list p {
  font-family: "roboto" !important;
  font-size: 16px !important;

}

.Tags_list button#right_bottom_button_Travel {
  margin-bottom: 3px !important;
  background-color: #000 !important;
  color: #fff !important;
}

.Tags_list button#right_bottom_button {
  margin-bottom: 3px !important;
  border: aliceblue !important;
}

.left {


  float: left !important;
  width: 70% !important;
  /* The width is 20%, by default */
}


.right {


  float: right !important;
  width: 30% !important;
  /* The width is 20%, by default */

}


.bottom .Comments a {
  border-radius: 20px !important;


}

.Comments {

  text-align: right !important;
  width: 90% !important;
}

.Comments p {
  margin-top: -30px !important;
  text-align: right !important;

}

.Comments a {

  background-color: #000 !important;
  color: #fff !important;
  padding-left: 5px !important;
  padding-right: 5px !important;


}



.bottom {
  margin-top: 20px !important;
}


.right_center {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.top {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

}

.bottom {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.right_top {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  padding-bottom: 1px;

}


.right_bottom {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
 margin-top: 20px!important;


}


.Tags {
  padding-bottom: 1px !important;
}

.footer {
  background-color: #6160609c !important;
  padding-top: 46px !important;
  padding-left: 25px !important;
  padding-bottom: 100px !important;
}

.footer_button button#footer_button_one {
  background-color: #6a6967 !important;
  color: #a6a6a6 !important;
  border: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.footer_button button#footer_button_two {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: none !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}





@media only screen and (max-width:800px) {
  .body {
    max-width: 88% !important;
    margin: 0 auto !important;
  }

  .img img {

    width: 100% !important;
  }

  .left .img img {
    max-width: 100% !important;
  }

  .left {
    width: 100% !important;
  }

  .right {

    width: 100% !important;
    margin-top: 20px !important;
  }

  .right .right_top img {

    width: 100% !important;


  }

  .top {
    width: 100% !important;
  }


  .bottom {
    width: 100% !important;
  }

}


/*
=============================================================Blog.html=============================================================
*/


.Blog_page_left {
  width: 70% !important;
  float: left !important;
}

.Blog_page_main {
  margin-bottom: 100px !important;
  display: inline-block !important;
  padding-top: 90px !important;
}

.Blog_page_left .img img {
  width: 800px !important;
  height: 220px !important;
}

.Blog_page_right {
  float: right !important;
  width: 30% !important;
}

.Blog_page_right .right_top img {
  width: 360px !important;
  height: 200px !important;
}

.Blog_page_left h2 {

  text-align: center !important;
  padding-top: 20px !important;
  font-weight: 400 !important;
  font-size: 32px!important;
  font-family: "roboto";
  margin: 0px !important;
  padding-bottom: 20px !important;

}

.Blog_page_left .Comments {

  margin-top: 50px !important;
}

.contact_from {
  text-align: center !important;
}

.contact_from input#fname {
  width: 80% !important;
  height: 5% !important;
}

.contact_from input#lname {
  width: 80% !important;
  height: 5% !important;
}

.contact_from input#email {
  width: 80% !important;
  height: 5% !important;
}

.contact_from textarea#messge {
  width: 80% !important;
  height: 15% !important;
}

.contact_from input#submit {
  width: 20% !important;
  height: 5% !important;
}

@media only screen and (max-width:800px) {

  .Blog_page_left .img img {
    max-width: 100% !important;
  }


  .Blog_page_left {
    width: 100% !important;
  }

  .Blog_page_right {
    width: 100% !important;
    margin-top: 20px !important;
  }

  .Blog_page_right .right_top img {
    width: 100% !important;
  }
}
